---
title: Funds
permalink: /funds
---
<!DOCTYPE html>
<html lang="en">
    <head> 
        <!-- HTML Meta Tags -->
        <title>Funds | Agua Project</title>
        <meta name="description" content="View how much money we've raised. Join the Salem Montessori School Adolescent Program as we raise funds to install a well for two families living in Guatemala.">
        <link rel="icon" href="https://cdn.jsdelivr.net/gh/aguaproject/aguaproject.github.io/circle-cropped-192x192.png">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://aguaproject.github.io/funds/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Funds | Agua Project">
        <meta property="og:description" content="View how much money we've raised. Join the Salem Montessori School Adolescent Program as we raise funds to install a well for two families living in Guatemala.">
        <meta property="og:image" content="https://cdn.jsdelivr.net/gh/aguaproject/aguaproject.github.io/3912628B-B1D2-44E3-9592-757622CA5C43.JPEG">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="aguaproject.github.io">
        <meta property="twitter:url" content="https://aguaproject.github.io/funds/">
        <meta name="twitter:title" content="Funds | Agua Project">
        <meta name="twitter:description" content="View how much money we've raised. Join the Salem Montessori School Adolescent Program as we raise funds to install a well for two families living in Guatemala.">
        <meta name="twitter:image" content="https://cdn.jsdelivr.net/gh/aguaproject/aguaproject.github.io/3912628B-B1D2-44E3-9592-757622CA5C43.JPEG">

        <!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
        <link rel="canonical" href="https://www.aguaproject.ml/funds">
        <link rel="shortlink" href="https://www.aguaproject.ml/funds">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="include.css">
    </head>
    <body>
        <div class="jumbotron text-center" style="background-color: transparent;">
            <h1>Funds</h1>
			<h2 style="text-align: center;">Guatemala Agua Project</h2>
        	<hr>
        </div>
        <div class="container">
           	<div class="row">
              	<div class="col-sm-4" style="border: 0px solid black; border-radius: 4px; backdrop-filter: blur(10px); visibility: hidden;">
                	<h2 style="text-decoration: underline;font-weight: bolder;user-select: none; visibility: hidden;">&nbsp;</h2>
                	<p class=".h4">
                        Donations may be devlivered to one of our <a href="/locations">Locations</a>.
                    </p>
              	</div>
              	<div class="col-sm-4" style="text-align: left; border-left: 1px solid var(--black); border-right: 1px solid var(--black);">
					<h3 style="text-align: center;">Funds raised so far:</h3>
                	<p style="text-align: center;">
                        <samp>${% for item in site.data.funds.content %}{{ item.number }}{% endfor %}</samp><br><wbr>
                        <progress id="file" max="1200" value="{% for item in site.data.funds.content %}{{ item.number }}{% endfor %}">{% for item in site.data.funds.content %}{{ item.number }}{% endfor %}&percnt;</progress><br><wbr>
                    </p>
                    <script>document.getElementsByTagName('p')[1].innerHTML += "<samp>" + Math.round((document.getElementById('file').value / 1200) * 100) + "%</samp> of the way there!"</script>
              	</div>
              	<div class="col-sm-4" style="text-align: right; visibility: hidden;">
                	<h2 style="text-decoration: underline;font-weight: bolder;">Check</h2>        
                	<p class=".h4">
                        Checks may be made payable to 
                        <code style="white-space: nowrap;">Salem Montessori School</code>
                        for 
                        <code style="white-space: nowrap;">Guatemala Agua Project</code>
					</p>
              	</div>
            </div>
    	</div>
        <footer>
            {% for item in site.data.footer.content %}
                <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a> {{ item.separator }}
            {% endfor %}
        </footer>
    </body>
</html>