---
title: Head
permalink: head.html
---

<!DOCTYPE html>
<html>
    <head>
        {% for item in site.data.head.single %}
                <{{ item.element }} {{ item.selector }}="{{ item.content }}">
        {% endfor %}
        {% for item in site.data.head.link %}
                <link rel="{{ item.rel }}" href="{{ item.href }}">
        {% endfor %}
        {% for item in site.data.head.meta %}
                <meta {{ item.selector }}="{{ item.type }}" content="{{ item.content }}">
        {% endfor %}
    </head>
</html>