:root { --black: rgba(0,0,0,1); }

body {
    background-image: url("https://cdn.jsdelivr.net/gh/aguaproject/aguaproject.github.io/3912628B-B1D2-44E3-9592-757622CA5C43.JPEG");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    color: black;
    color: var(--bs-black);
    font-size: 18px !important;

} body, html {
    height: 100%;
    z-index: 99;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    padding: 1vh 1vw;
    clear: both;
    z-index: 100;
    margin-bottom: 0px;
}

h1, h2 { font-weight:semi-bold; font-weight: 600; }

h1 {font-size: 3.25rem !important;}
h2 {font-size: 1.375rem !important;}

a { color: #0d6efd;}
a:visited {color: #0c5dec;}
a:hover { color: #0b4cdb;}

li {color: inherit !important;}

p.h4{ font-weight: normal !important; }

h2.privacy, p.privacy, #gen {
    text-decoration: none !important;
    font-weight: bolder !important;
    text-align: center !important;
}

.indent {padding-left: 36pt;}


html {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
} samp {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}